body {
    padding-top: 70px;
}

.navbar {
    max-height: 57px;
}
.navbar-header {
    background-color: #F8F8F8;
    border-bottom: 1px solid #E7E7E7;
    position: relative;
    z-index: 20;
}
.navbar-collapse {
    background-color: #F8F8F8;
    border-bottom: 1px solid #E7E7E7;
    border-top: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.navbar-collapse.new {
    -webkit-transform: translate(0, -200%);
    -moz-transform: translate(0, -200%);
    transform: translate(0, -200%);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    transform-origin: center top;
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    transition: transform 400ms ease;
}
.navbar-collapse.new.in {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
}
.navbar-collapse.old {
    top: -340px;
    -webkit-transition: top 400ms ease;
    -moz-transition: top 400ms ease;
    transition: top 400ms ease;
}
.navbar-collapse.old.in {
    top: 100%;
}

@media (min-width: 768px) {
    .navbar-header {
        border-bottom: none;
    }
    .navbar-collapse {
        position: relative;
    }
    .navbar-collapse.new,
    .navbar-collapse.old,
    .navbar-collapse.new.in,
    .navbar-collapse.old.in {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
        top: 0;
    }
}

.carousel-inner.new > .item {
    -webkit-transition: .6s ease-in-out -webkit-transform;
    -moz-transition: .6s ease-in-out -moz-transform;
    transition: .6s ease-in-out transform;
}
.carousel-inner.new > .item.active {
    left: auto;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    transform: translate(0,0);
}
.carousel-inner.new > .item.next {
    left: auto;
    -webkit-transform: translate(100%,0);
    -moz-transform: translate(100%,0);
    transform: translate(100%,0);
}
.carousel-inner.new > .item.prev {
    left: auto;
    -webkit-transform: translate(-100%,0);
    -moz-transform: translate(-100%,0);
    transform: translate(-100%,0);
}
.carousel-inner.new > .item.next.left,
.carousel-inner.new > .item.prev.right {
    left: auto;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    transform: translate(0,0);
}
.carousel-inner.new > .item.active.left {
    left: auto;
    -webkit-transform: translate(-100%,0);
    -moz-transform: translate(-100%,0);
    transform: translate(-100%,0);
}
.carousel-inner.new > .item.active.right {
    left: auto;
    -webkit-transform: translate(100%,0);
    -moz-transform: translate(100%,0);
    transform: translate(100%,0);
}

.push-down-menu.old {
    height: 0;
    min-height: 0;
    overflow: hidden;
    position: relative;
    -webkit-transition: min-height .6s ease;
    -moz-transition: min-height .6s ease;
    transition: min-height .6s ease;
}
.push-down-menu.in.old {
    min-height: 190px;
}
.push-down-menu.new {
    left: 0;
    overflow: hidden;
    position: absolute;
    -webkit-transition: .6s ease-in-out -webkit-transform;
    -moz-transition: .6s ease-in-out -moz-transform;
    transition: .6s ease-in-out transform;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    transform-origin: center top;
    width: 100%;
}
.push-down-menu.in.new {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.push-down-menu.new + .push-down-content {
    -webkit-transition: .6s ease-in-out -webkit-transform;
    -moz-transition: .6s ease-in-out -moz-transform;
    transition: .6s ease-in-out transform;
}
.push-down-menu.in.new + .push-down-content {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%);
}